.visualizer-controller {
    width: 350px;
    .form-container {
        padding: 25px;
        .form-group {
            margin-bottom: 15px;
            input::-webkit-inner-spin-button,
            ::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }
        }
        .flex {
            display: flex;
        }
        .slider {
            width: 100%;
        }
    }
}
